<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- 구글 글꼴 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 스타일 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <!-- 페이지 전용 스타일 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/document_management.css') }}">
</head>
<body>

    <!-- 햄버거 아이콘 -->
    <button class="toggle-btn" id="toggleSidebar">&#9776;</button>

    <!-- 사이드바 -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-links">
            <p></p>
            <p class="text-center">한이음</p>
            <a href="/home">Home</a>
            <a href="/text">텍스트 가명화</a>
            <a href="/upload">파일 업로드 가명화</a>
            <a href="/document_management">History</a>
            <a href="/my_page">마이페이지</a>
            <a href="/customer_support">고객 지원</a>
        </div>
        <a href="/logout" class="logout-link">
            Logout <img src="/static/images/logout.png" alt="Logout Icon" style="width: 20px; height: 20px; margin-left: 5px;">
        </a>
    </div>

    <!-- 컨텐츠 -->
    <div class="content" id="content">
        <h1 class="text-center">History</h1>
        <p class="text-center">이전의 문서를 관리하세요.</p>

        <!-- 검색 창 추가 -->
        <div class="search-box">
            <input type="text" id="searchInput" class="form-control" placeholder="Search for files...">
        </div>

        <div class="document-list">
            <div class="document-card">
                <p class="text-center">이력서.pdf</p>
                <a href="#" class="btn btn-primary">가명처리</a>
                <a href="#" class="btn btn-danger">download</a>
            </div>
            <div class="document-card">
                <p class="text-center">수강생 개인정보.hwp</p>
                <a href="#" class="btn btn-primary">가명처리</a>
                <a href="#" class="btn btn-danger">download</a>
            </div>

            <div class="document-card">
                <p class="text-center">본인 확인서.docx</p>
                <a href="#" class="btn btn-primary">가명처리</a>
                <a href="#" class="btn btn-danger">download</a>
            </div>
            

        </div>
        <div class="document-list">
            <div class="document-card">
                <p class="text-center">통장 사본.pdf</p>
                <a href="#" class="btn btn-primary">가명처리</a>
                <a href="#" class="btn btn-danger">download</a>
            </div>
            <div class="document-card">
                <p class="text-center">[단체]명단</p>
                <a href="#" class="btn btn-primary">가명처리</a>
                <a href="#" class="btn btn-danger">download</a>
            </div>
    </div>

    </div>

    <script>
        document.getElementById('toggleSidebar').addEventListener('click', function() {
            const sidebar = document.getElementById('sidebar');
            const content = document.getElementById('content');
            sidebar.classList.toggle('hidden');
            content.classList.toggle('shifted');
        });

        // 파일 검색 기능
        document.getElementById('searchInput').addEventListener('keyup', function() {
            const searchValue = this.value.toLowerCase();
            const documentCards = document.getElementsByClassName('document-card');

            Array.from(documentCards).forEach(function(card) {
                const fileName = card.querySelector('h4').textContent.toLowerCase();
                if (fileName.indexOf(searchValue) > -1) {
                    card.style.display = 'flex';
                } else {
                    card.style.display = 'none';
                }
            });
        });
    </script>

</body>
</html>
