<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- 구글 글꼴 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 스타일 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <!-- 페이지 전용 스타일 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

    <!-- 햄버거 아이콘 -->
    <button class="toggle-btn" id="toggleSidebar">&#9776;</button>

    <!-- 사이드바 -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-links">
            <p></p>
            <p class="text-center">한이음</p>
            <a href="/home">Home</a>
            <a href="/text">텍스트 가명화</a>
            <a href="/upload">파일 업로드 가명화</a>
            <a href="/document_management">History</a>
            <a href="/my_page">마이페이지</a>
            <a href="/customer_support">고객 지원</a>
        </div>
        <a href="/logout" class="logout-link">
            Logout <img src="/static/images/logout.png" alt="Logout Icon" style="width: 20px; height: 20px; margin-left: 5px;">
        </a>
    </div>

    <!-- 메인 콘텐츠 -->
    <div class="content" id="content">
        <div class="container-box">
            <h1 class="text-center">가명처리 서비스</h1>
            <p class="text-center">필요한 서비스를 선택하세요.</p>
            <div class="button-container">
                <a href="/text" class="btn btn-primary">텍스트 가명화</a>
                <a href="/upload" class="btn btn-success">파일 업로드 가명화</a>
            </div>
        </div>
    </div>

    <script>
        // 사이드바 표시 및 숨기기
        document.getElementById('toggleSidebar').addEventListener('click', function() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('hidden');
            document.getElementById('content').classList.toggle('shifted');
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
