body {
    font-family: 'IBM Plex Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  .signup-box {
    width: 350px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  h2 {
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }
  .form-control {
    height: 45px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .btn-primary {
    width: 95%;
    background-color: rgba(18, 191, 243, 0.3);
  }
  .btn-container {
    display: flex;
    width: 95%;
    justify-content: center;
    margin-top: 20px;
  }
  
  .btn-primary, .form-control-custom {
    padding: 12px 20px;
    font-size: 14px;
    width: 80%;  /* 버튼과 입력 칸 크기 통일 */
    border-radius: 10px;
    border: none;
  }
  .btn-primary:hover {
    background-color: rgba(18, 191, 243, 1);
  }
  .form-control-custom {
    background-color: rgba(178, 218, 231, 0.3);
    border: none;
  }
  .form-control-custom:focus {
    background-color: rgba(178, 218, 231, 0.5);
    outline: none;
    box-shadow: none;
  }
  .form-label {
    font-size: 1rem;
    font-weight: bold;
  }